<div class="container">
  <h1><%=current_user.name%>'s Profile</h1>
  <%= form_for :profile, url: { action: "create" }, html: { multipart: true }  do |f| %>
    Avatar:<%= f.file_field :avatar %>
    Why I Run: <%= f.text_field :why_i_run, placeholder:"In a few words, tell us what motivates you and keeps you running!" %>
    Goals: <%= f.text_field :goals, placeholder: "In a few words, tell us your running goals!"%>
    Experience Level: <br /><br />
      <%= f.select :experience, ['Beginner', 'Intermediate', 'Advanced', 'Competitive'] %>
    <br />

    Need To Knows: <%= f.text_field :need_to_knows, placeholder: "Is there anything important you'd want a potential running partner to know (i.e. injuries, allergies, etc.)" %>
    <%= f.submit "Create Profile", :class => "waves-effect waves-light btn #00acc1 cyan darken-1" %>

  <% end %>
</div>
