<%= image_tag @profile.avatar.url(:medium) %>
<div class = "container">
  <h2><%=@profile.user.name%>'s Profile </h2>
  <% if current_user == @profile.user %>
    <p>Email Address: <%=@profile.user.email%></p>
    <p>Location: <%=@location%></p>
  <% end %>
  <p>Why I Run: <%=@profile.why_i_run%></p>
  <p>Goals: <%=@profile.goals%></p>
  <p>Experience Level: <%=@profile.experience%></p>
  <p>Need To Knows: <%=@profile.need_to_knows%></p>
</div>
<% if current_user == @profile.user %>
  <div class = "container">
    <%= link_to 'Edit Profile', edit_user_profile_path(current_user, @profile) %>
  </div>
<% end %>
