<div class="container new-run-form" id="new-run-form">
  <h2>Plan a New Run</h2>

  <%= form_for :run, class: 'run-form-inputs', url: user_runs_path(current_user) do |f| %>
    Select a date: <%= f.text_field :run_date, class: "datepicker" %>

    Select hour: <%= f.select :run_hours, (1..12).map { |hour| hour }%> <br />
    Select minutes: <%= f.select :run_minutes, ['00', '15', '30', '45']%> <br />
    Select morning or evening: <%= f.select :run_daypart, ['AM', 'PM'] %> <br />

    Enter a zipcode: <%= f.number_field :zipcode %> <br />
    <br />

    <%= f.submit "Create Run", :class => "waves-effect waves-light btn #00acc1 cyan darken-1", id: "create-run-btn" %>
  <% end %>
</div>
