<h3>Upcoming Runs</h3>
<% if @user.runs.any? %>
  <h3 class='center'> Past Run Stats: </h3>
  <div class = 'container'>
    <table class='responsive-table highlight bordered'>
      <tr>
        <th>Run Date</th>
        <th>Location</th>
        <th>Companion</th>
        <th>Overall Distance</th>
        <th>Overall Time</th>
        <th>Average Pace</th>
        <th> Edit </th>
      </tr>
      <% @user.runs.each do |run| %>
      <tr>
        <td><%= run.run_date %></td>
        <td><%= run.zipcode %></td>
        <% if run.companion %>
          <td><%= run.companion.name %></td>
        <% else %>
          <td> Solo  </td>
        <% end %>
        <% if run.distance %>
          <td><%= run.distance %></td>
        <% else %>
          <td> </td>
        <% end %>
        <% if run.run_time %>
          <td><%= run.run_time %></td>
        <% else %>
          <td> </td>
        <% end %>
        <% if run.run_pace %>
          <td><%= run.run_pace %></td>
        <% else %>
          <td> </td>
        <% end %>
        <td> <%= link_to "Edit This Run", user_run_edit_stats_path(run.runner_id, run.id) %></td>
      <% end %>
    </table>
  </div>
<% else %>
  <p> You haven't had any runs yet! </p>
<% end %>


